@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "katex/dist/katex.min.css";
@import "remark-github-blockquote-alert/alert.css";

@theme {
  --default-transition-duration: 300ms;
  --color-accent-glif: #724AFF;
  --color-accent-icn: #12D147;
}

@layer components {
  /* Inline code styling */
  .prose :where(code):not(:where(pre code)) {
    @apply bg-current/10 px-1.5 py-0.5 rounded;
    @apply text-sm font-mono font-normal;
    @apply before:content-none! after:content-none!;
  }

  /* Heading anchor links */
  .prose :where(h1, h2, h3, h4, h5, h6) {
    @apply relative;

    & .anchor-link {
      @apply absolute p-2 top-1/2 right-full -translate-y-1/2;
      @apply opacity-0 transition-opacity no-underline;
    }

    &:hover .anchor-link {
      @apply opacity-100;
    }
  }
}
